[submodule "linked_modules/vim-ruby"]
	path = linked_modules/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "linked_modules/vim-rails"]
	path = linked_modules/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "linked_modules/vim-git"]
	path = linked_modules/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "linked_modules/vim-scmdiff"]
	path = linked_modules/vim-scmdiff
	url = https://github.com/ghewgill/vim-scmdiff.git
[submodule "linked_modules/vim-cucumber"]
	path = linked_modules/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "linked_modules/nerdcommenter"]
	path = linked_modules/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "linked_modules/nerdtree"]
	path = linked_modules/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "linked_modules/vim-fugitive"]
	path = linked_modules/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "linked_modules/perl-completion"]
	path = linked_modules/perl-completion
	url = git://github.com/c9s/perl-completion.vim.git
[submodule "linked_modules/libperl.vim"]
	path = linked_modules/libperl.vim
	url = git://github.com/c9s/libperl.vim.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/xmledit"]
	path = vim/bundle/xmledit
	url = https://github.com/sukima/xmledit.git
