[submodule "linked_modules/vim-ruby"]
	path = linked_modules/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "linked_modules/vim-rails"]
	path = linked_modules/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "linked_modules/vim-git"]
	path = linked_modules/vim-git
	url = git://git.tpope.net/vim-git.git
[submodule "linked_modules/vim-scmdiff"]
	path = linked_modules/vim-scmdiff
	url = git://github.com/agile/vim-scmdiff.git
[submodule "linked_modules/vim-cucumber"]
	path = linked_modules/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "linked_modules/nerdcommenter"]
	path = linked_modules/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "linked_modules/nerdtree"]
	path = linked_modules/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "linked_modules/vim-ruby-debugger"]
	path = linked_modules/vim-ruby-debugger
	url = git://github.com/astashov/vim-ruby-debugger.git
[submodule "linked_modules/vim-fugitive"]
	path = linked_modules/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
